<link rel="stylesheet" href="/css/related-people/related.css" />
<link rel="stylesheet" href="/css/related-people/package-list.css" />
<link rel="stylesheet" href="/css/manager/products/pagination.css" />
<div class="content" style="padding: 20px 20px;">
  <div class="path">
    <a href="index">Trang chủ > </a>
    <a href="#">Nhu yếu phẩm</a>
  </div>

  <div id="package-container">
    <div class="searchbar">
      <input
        type="text"
        class="searchbar-input"
        placeholder="Tìm kiếm sản phẩm"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="container text-center">
      <div class="row">
        {{#each packages}}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-view">
              <div class="image-details">
                <img
                  class="scaled"
                  src="/images/related-people/package_demo.png"
                  alt="package_img"
                />
                <div class="package-detail">
                  {{#each products}}
                  <p>{{amount}}{{unit}} {{product}}</p>
                  {{/each}}
                </div>

              </div>
              <div class="price-amount">
                <div class="name-price">
                  {{packageName}}<br />
                  <span style="color: red;">{{price}}đ</span>
                </div>
                <div class="amount-modify">
                  <button id="decrease">-</button>
                  <p id="current-amount">1</p>
                  <button id="increase">+</button>
                </div>
                <button class="add-to-cart" style="border: none;">
                  <img src="/images/related-people/cart.png" alt="cart_img" />
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

    </div>

    <div class="page-container">
      <button class="first-page" disabled>
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="prev-page" disabled>
        <i class="fas fa-angle-left"></i>
      </button>
      <div id="pagination"></div>
      <button class="next-page">
        <i class="fas fa-angle-right"></i>
      </button>
      <button class="last-page">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>
  </div>


    <a href="cart" id="go-to-cart">
      <img src="/images/related-people/cart2.png" alt="cart2_img" />
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      ></span>
      3
      <span class="visually-hidden">unread messages</span>
    </a>

</div>

</script>