<!-- stylesheet -->
<link rel="stylesheet" href="/css/admin/style.css">
<link rel="stylesheet" href="/css/admin/filter-style.css">
<link rel="stylesheet" href="/css/admin/search-bar-style.css">
<link rel="stylesheet" href="/css/admin/table-style.css">
<link rel="stylesheet" href="/css/admin/pagination.css">
<link rel="stylesheet" href="/css/admin/manager/list-manager-history-style.css">
<!-- stylesheet -->

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./list-manager-page.html">Người quản lý</a></li>
            <li class="breadcrumb-item active" aria-current="page">Xem danh sách lịch sử hoạt động người quản lý</li>
        </ol>
    </nav>
    <div class="searchbar">
        <input type="text" class="searchbar-input" placeholder="Tìm kiếm hoạt động người quản lý">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="filter">
        <p id="filter-heading">Bộ lọc</p>
        <div id="filters" class="row" style="clear: both;">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle text-black" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sắp xếp theo
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Username từ A->Z</button></li>
                        <li><button class="dropdown-item" type="button">Username từ Z->A</button></li>
                        <li><button class="dropdown-item" type="button">Thời gian từ gần nhất</button></li>
                        <li><button class="dropdown-item" type="button">Thời gian từ xa nhất</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle text-black" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Lọc theo thời gian
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Quý I 2022</button></li>
                        <li><button class="dropdown-item" type="button">Quý IV 2021</button></li>
                        <li><button class="dropdown-item" type="button">Quý III 2021</button></li>
                        <li><button class="dropdown-item" type="button">Quý II 2021</button></li>
                        <li><button class="dropdown-item" type="button">Quý I 2021</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle text-black" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Lọc theo phân quyền
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Nhu yếu phẩm</button></li>
                        <li><button class="dropdown-item" type="button">Người bệnh</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="list-manager-history-table" class="table-responsive" style="height: 360px; width: 80%; margin: auto;">
        <table>
                <thead>
                    <th class="th-style">STT</th>
                    <th class="th-style">Tên địa điểm</th>
                    <th class="th-style">Sức chứa</th>
                    <th class="th-style">Số lượng hiện tại</th>
                    <th class="th-style">Cách ly</th>
                    <th class="th-style">Điều trị</th>
                    <th class="th-style"></th>
                </thead>
                <tbody>
                    {{#each addresses}}
                        <tr>
                            <td class="table-stt"><a href="/admin/address/{{_id}}/show" style="color:black; text-decoration: none">{{stt}}</a></td>
                            <td class="table-text"><a href="/admin/address/{{_id}}/show" style="color:black; text-decoration: none">{{name}}</a></td>
                            <td class="table-number">{{tankage}}</td>
                            <td class="table-number">{{currentQuantity}}</td>
                            {{#ifEquals type 0}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            {{else ifEquals type 1}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            {{else ifEquals type 2}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            {{else}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            {{/ifEquals}}
                            <td class="table-button">
                                <a href="/admin/address/{{_id}}/edit" style="color:#1C658C"><span class="fa-solid fa-pen"></span></a>
                                <a href="/admin/address/{{_id}}/delete?_method=DELETE" style="color:#1C658C"
                                    onclick="return confirm('Are you sure you want to delete this record?')">
                                    <span class="fa-solid fa-trash-can"></span>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
    <div class="page-container">
        <button class="first-page" disabled>
            <i class="fas fa-angle-double-left"></i>
        </button>
        <button class="prev-page" disabled>
            <i class="fas fa-angle-left"></i>
        </button>
        <div id="pagination"></div>
        <button class="next-page">
            <i class="fas fa-angle-right"></i>
        </button>
        <button class="last-page">
            <i class="fas fa-angle-double-right"></i>
        </button>
    </div>
</div>

<!-- JS -->
<script src="js/add-list-manager-history-table.js"></script>
<script src="../js/pagination.js"></script>
<!-- JS -->