<!-- stylesheet -->
<link rel="stylesheet" href="/css/admin/style.css">
<link rel="stylesheet" href="/css/admin/address/address-detail-style.css">
<!-- stylesheet -->

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>'; --bs-breadcrumb-item-padding-x: 2px; --bs-breadcrumb-divider-color: #A19C9C; --bs-breadcrumb-font-size: 24sp;" aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/address">Địa điểm cách ly, điều trị</a></li>
            {{#with address}}
            <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
            {{/with}}
        </ol>
    </nav>
            <div class="content-min">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12">
                        <div class="main-content">
                            <h3 class="form-heading mb-3 p-2 ">Chỉnh sửa địa điểm cách ly, điều trị</h3>
                            {{#with address}}
                            <form id="edit-address-form" class="form-add-manager p-2" action="/admin/address/{{_id}}/update?_method=PUT" method="POST">
                            <div class="form-group row">
                                <label for="name" class="col-lg-5 col-sm-5 col-form-label">Tên địa điểm</label>
                                <div class="col-lg-7 col-sm-7">
                                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                                </div> 
                            </div>
                            <div class="form-group row">
                                <label for="number" class="col-lg-5 col-sm-5 col-form-label">Số thu dụng</label>
                                <div class="col-lg-7 col-sm-7">
                                <input type="text" class="form-control" id="number" name="number" value="{{number}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tankage" class="col-lg-5 col-sm-5 col-form-label" style="margin-bottom: 5px;">Sức chứa</label>
                                <div class="col-lg-7 col-sm-7">
                                    <input id="tankage" name="tankage" type="text" class="form-control" style="width: 80%; margin: 0px 5px;" value="{{tankage}}">
                                </div> 
                                <label for="curQuantity" class="col-lg-5 col-sm-5 col-form-label">Số lượng hiện tại</label>
                                <div class="col-lg-7 col-sm-7">
                                    <input id="curQuantity" name="curQuantity" type="text" class="form-control" style="width: 80%; margin: 0px 5px;" value="{{currentQuantity}}">
                                </div> 
                            </div>
                            {{#ifEquals type 0}}
                            <div class="form-group row">
                                <label  class="col-sm-5 col-form-label">Loại địa điểm</label>
                                <div class="col-sm-7">
                                <table>
                                    <tr>
                                        <td><input name="isolation" id="isolation" value="isolation" type="checkbox"></td>
                                        <th><label for="isolation" class="p-2">Cách ly</label></th>
                                    </tr>
                                    <tr>
                                        <td><input name="treatment" id="treatment" value="treatment" type="checkbox"></td>
                                        <th><label for="treatment">Điều trị</label></th>
                                    </tr>
                                </table>
                                </div>
                            </div>
                            {{else ifEquals type 1}}
                            <div class="form-group row">
                                <label  class="col-sm-5 col-form-label">Loại địa điểm</label>
                                <div class="col-sm-7">
                                <table>
                                    <tr>
                                        <td><input name="isolation" id="isolation" value="isolation" type="checkbox" checked></td>
                                        <th><label for="isolation" class="p-2">Cách ly</label></th>
                                    </tr>
                                    <tr>
                                        <td><input name="treatment" id="treatment" value="treatment" type="checkbox"></td>
                                        <th><label for="treatment">Điều trị</label></th>
                                    </tr>
                                </table>
                                </div>
                            </div>
                            {{else ifEquals type 2}}
                            <div class="form-group row">
                                <label  class="col-sm-5 col-form-label">Loại địa điểm</label>
                                <div class="col-sm-7">
                                <table>
                                    <tr>
                                        <td><input name="isolation" id="isolation" value="isolation" type="checkbox"></td>
                                        <th><label for="isolation" class="p-2">Cách ly</label></th>
                                    </tr>
                                    <tr>
                                        <td><input name="treatment" id="treatment" value="treatment" type="checkbox" checked></td>
                                        <th><label for="treatment">Điều trị</label></th>
                                    </tr>
                                </table>
                                </div>
                            </div>
                            {{else}}
                            <div class="form-group row">
                                <label  class="col-sm-5 col-form-label">Loại địa điểm</label>
                                <div class="col-sm-7">
                                <table>
                                    <tr>
                                        <td><input name="isolation" id="isolation" value="isolation" type="checkbox" checked></td>
                                        <th><label for="isolation" class="p-2">Cách ly</label></th>
                                    </tr>
                                    <tr>
                                        <td><input name="treatment" id="treatment" value="treatment" type="checkbox" checked></td>
                                        <th><label for="treatment">Điều trị</label></th>
                                    </tr>
                                </table>
                                </div>
                            </div>
                            {{/ifEquals}}
                            </form>  
                            {{/with}}
                            <div class="row-button">
                                <div class="col-sm-6">
                                  <button type="submit" form="edit-address-form" class="btn custom-btn text-white" onclick="return confirm('Are you sure you want to edit this address?')">Lưu</button>
                                </div>
                                <div class="col-sm-6">
                                    {{#with address}}
                                    <button type="button" class="btn exit-btn text-white" onclick="if (confirm('Are you sure you want to cancel this edit?')) window.location.href='/admin/address/{{_id}}/show'">Hủy</button>
                                    {{/with}}
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 d-flex flex-column">
                      <div class="side-info bg-form p-5">
                            <div class="avatar">
                                <img class="img-thumbnail" src="/images/admin/hospital.jpg" alt="avatar">
                            </div>
                            {{#with address}}
                            <div id="name">{{name}}</div>
                            {{/with}}
                            {{#with address}}
                            <div class="button">
                                <button type="submit" form="edit-address-form" class="custom-btn btn text-white btn-sm" onclick="if (confirm('Are you sure you want to cancel this edit?')) window.location.href='/admin/address/{{_id}}/show'">Xem địa điểm</button>
                            </div>
                            <div class="button">
                                <button type="button" class="exit-btn btn text-white btn-sm" onclick="if (confirm('Are you sure you want to delete this address?')) window.location.href='/admin/address/{{_id}}/delete'">Xóa địa điểm</button>
                            </div>
                            {{/with}}
                      </div>
                    </div>
                </div>
            </div>
        </div>