<!-- stylesheet -->
<link rel="stylesheet" href="/css/admin/style.css">
<link rel="stylesheet" href="/css/admin/filter-style.css">
<link rel="stylesheet" href="/css/admin/css/search-bar-style.css">
<link rel="stylesheet" href="/css/admin/table-style.css">
<link rel="stylesheet" href="/css/admin/pagination.css">
<link rel="stylesheet" href="/css/admin/button-add-style.css">
<link rel="stylesheet" href="/css/admin/address/list-addresses-style.css">
<!-- stylesheet -->

<div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="nav-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Xem danh sách địa điểm cách ly, điều trị</li>
            </ol>
            </nav>
            <div class="searchbar">
                <input type="text" class="searchbar-input" placeholder="Tìm kiếm hoạt động người quản lý">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="filter">
            <p id="filter-heading">Bộ lọc</p>
            <div id="filters" class="row" style="clear: both;">
                <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle text-black" type="button"
                            id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Sắp xếp theo 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Username từ A->Z</button></li>
                            <li><button class="dropdown-item" type="button">Username từ Z->A</button></li>
                            <li><button class="dropdown-item" type="button">Thời gian từ gần nhất</button></li>
                            <li><button class="dropdown-item" type="button">Thời gian từ xa nhất</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle text-black" type="button"
                            id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            Lọc theo thời gian 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><button class="dropdown-item" type="button">Quý I 2022</button></li>
                            <li><button class="dropdown-item" type="button">Quý IV 2021</button></li>
                            <li><button class="dropdown-item" type="button">Quý III 2021</button></li>
                            <li><button class="dropdown-item" type="button">Quý II 2021</button></li>
                            <li><button class="dropdown-item" type="button">Quý I 2021</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle text-black" type="button"
                        id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Lọc theo phân quyền 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Nhu yếu phẩm</button></li>
                        <li><button class="dropdown-item" type="button">Người bệnh</button></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div id="list-addresses-table" class="table-responsive" style="height: 360px; width: 80%; margin: auto;">
            <table>
                <thead>
                    <th class="th-style">STT</th>
                    <th class="th-style">Tên địa điểm</th>
                    <th class="th-style">Sức chứa</th>
                    <th class="th-style">Số lượng hiện tại</th>
                    <th class="th-style">Cách ly</th>
                    <th class="th-style">Điều trị</th>
                    <th class="th-style"></th>
                </thead>
                <tbody>
                    {{#each addresses}}
                        <tr>
                            <td class="table-stt"><a href="/admin/address/{{_id}}/show" style="color:black; text-decoration: none">{{stt}}</a></td>
                            <td class="table-text"><a href="/admin/address/{{_id}}/show" style="color:black; text-decoration: none">{{name}}</a></td>
                            <td class="table-number">{{tankage}}</td>
                            <td class="table-number">{{currentQuantity}}</td>
                            {{#ifEquals type 0}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            {{else ifEquals type 1}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            {{else ifEquals type 2}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            {{else}}
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            <td class="table-checkbox"><input class="custom-check-box" type="checkbox" disabled checked></td>
                            {{/ifEquals}}
                            <td class="table-button">
                                <a href="/admin/address/{{_id}}/edit" style="color:#1C658C"><span class="fa-solid fa-pen"></span></a>
                                <a href="/admin/address/{{_id}}/delete?_method=DELETE" style="color:#1C658C"
                                    onclick="return confirm('Are you sure you want to delete this record?')">
                                    <span class="fa-solid fa-trash-can" name="_method" value="DELETE"></span>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="page-container">
            <button class="first-page" disabled>
                <i class="fas fa-angle-double-left"></i>
            </button>
            <button class="prev-page" disabled>
                <i class="fas fa-angle-left"></i>
            </button>
            <div id="pagination"></div>
            <button class="next-page">
                <i class="fas fa-angle-right"></i>
            </button>
            <button class="last-page">
                <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
        <a href="/admin/address/add">
        <div class="button-add">
            <i class="fa-solid fa-plus fa-3x"></i>
        </div>
    </a>
    </div>
</div>

<!-- JS -->
<script>
    /*var listAddresses = [
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2},
    {name:"Bệnh viện dã chiến số 1", tankage: 1000, currentQuantity: 50, type: 2}
    ];*/

    /* if(typeof(Storage) !== 'undefined'){
        if (localStorage.length === 0 || localStorage.getItem("listAddresses") === null){
            localStorage.setItem('listAddresses',JSON.stringify(listAddresses));
            loadListAddressesTable();
        } else {
            listAddresses = JSON.parse(localStorage.getItem('listAddresses'));
            loadListAddressesTable();
        }
    }
    else 
        loadListAddressesTable();*/

    function createData(data, classData){
        let a = document.createElement('td');
        a.setAttribute("class", classData);
        let textNode = document.createTextNode(data);
        a.appendChild(textNode);
        return a;
    }

    function createButton(){
        let a = document.createElement('td');
        let del = document.createElement('span');
        let edit = document.createElement('span');
        a.setAttribute("class", "table-button");
        edit.setAttribute("class", "fa-solid fa-pen");
        del.setAttribute("class", "fa-solid fa-trash-can")
        a.appendChild(edit);
        a.appendChild(del);
        return a;
    }

    function createCheckbox(){
        let a = document.createElement('td');
        a.setAttribute("class","table-checkbox")
        let checkBox = document.createElement('input');
        checkBox.type="checkbox";
        checkBox.disabled = true;
        checkBox.setAttribute("class","custom-check-box");
        checkBox.checked = false;
        a.appendChild(checkBox);
        return a;
    }

    function changeStatus(a, status){
        status ? a.checked = true : a.checked = false;
    }

    function createDataBySTT(STT){
        let a = document.createElement('td');
        a.setAttribute("class", "table-stt");
        let textNode = document.createTextNode(STT);
        a.appendChild(textNode);
        return a;
    }

    var listAddresses = "{addresses}"
    var myTable = document.querySelector('#list-addresses-table');
    var headers = ['STT', 'Tên địa điểm', 'Sức chứa', 'Số lượng hiện tại', 'Cách ly', 'Điều trị',''];
    var table = document.createElement('table');
    table.setAttribute("class", "custom-table table table-striped");
    var theader = document.createElement('thead');
    var headerRow = document.createElement('tr');
    headers.forEach(header=>{
        var th = document.createElement('th');
        th.setAttribute("class", "th-style");
        th.setAttribute("scope", "col");
        var textNode = document.createTextNode(header);
        th.appendChild(textNode);
        headerRow.appendChild(th);
    });
    theader.appendChild(headerRow);
    table.appendChild(theader);
    var tbody = document.createElement('tbody');
    var stt = 1;
    listAddresses.forEach(address=>{
        var dataRow = document.createElement('tr');
        var STT = createDataBySTT(stt.toString());
        var name = createData(address["name"], "table-text");
        var tankage = createData(address["tankage"], "table-number");
        var currentQuantity = createData(address["currentQuantity"], "table-number")
        var isolation = createCheckbox(false);
        var treatment = createCheckbox(false);
        switch (address["type"]){
            case 1:
                changeStatus(isolation, true);
                break;
            case 2:
                changeStatus(treatment, true);
                break;
            case 3:
                changeStatus(isolation, true);
                changeStatus(treatment, true);
                break;
            default:
                break;
        }
        var button = createButton();
        dataRow.appendChild(STT);
        dataRow.appendChild(name);
        dataRow.appendChild(tankage);
        dataRow.appendChild(currentQuantity);
        dataRow.appendChild(isolation);
        dataRow.appendChild(treatment);
        dataRow.appendChild(button);
        tbody.appendChild(dataRow);
        ++stt;
    })
    table.appendChild(tbody);
    myTable.appendChild(table);
</script>
<!-- JS -->