<link rel="stylesheet" href="/css/manager/related-people/style.css">

<div class="content">
    <div class="path">
        <a href="../index.html">Trang chủ > </a>
        <a href="./">Người liên quan Covid-19 > </a>
        <a href="./">Danh sách người liên quan Covid-19</a>
    </div>
    <div class="searchbar">
        <input type="text" class="searchbar-input" placeholder="Tìm kiếm người liên quan Covid-19">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div id="table">
        <table>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Số CMND/CCCD</th>
                <th>Năm sinh</th>
                <th>Trạng thái</th>
                <th>Nơi điều trị</th>
            </tr>
            {{#each RelatedPeopleList}}
                <tr>
                    <td class="row-center">{{id}}</td>
                    <td class="row-center">{{name}}</td>
                    <td class="row-center">{{username}}</td>
                    <td class="row-center">{{yearOfBirth}}</td>
                    <td class="row-center">{{status}}</td>
                    <td class="row-center">{{place}}</td>
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="page-container">
        <button class="first-page" disabled>
            <i class="fas fa-angle-double-left"></i>
        </button>
        <button class="prev-page" disabled>
            <i class="fas fa-angle-left"></i>
        </button>
        <div id="pagination"></div>
        <button class="next-page">
            <i class="fas fa-angle-right"></i>
        </button>
        <button class="last-page">
            <i class="fas fa-angle-double-right"></i>
        </button>
    </div>
</div>